.header {
  border-bottom: 1px solid rgb(39 39 42);
  padding: 1rem 1.5rem;

  &__container {
    display: flex;
    align-items: center;
  }

  &__title {
    font-size: 1.125rem;
    font-weight: 600;
  }
}
