.footer {
  border-top: 1px solid rgb(39 39 42);
  padding: 1rem 1.5rem;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__text {
    font-size: 0.875rem;
    color: rgb(161 161 170);
  }

  &__status {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.875rem;
  }

  &__indicator {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;

    &--connected {
      background-color: rgb(34 197 94);
    }

    &--offline {
      background-color: rgb(239 68 68);
    }

    &--checking {
      background-color: rgb(234 179 8);
    }
  }
}
